{% extends 'parent.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" href="{{ asset('css/child.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block sidebar %}
    <a href="{{ path('homepage') }}">Home</a><br/>
    <ul id="navigation">
        {% for item in navigation %}
            {{ include('twig/item.html.twig') }}
        {% endfor %}
    </ul>

    {{ include('twig/block.html.twig', {}) }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>This looks like a great template !</h1>
{% endblock %}
